#lorem {
  color: grey;
  font-family: serif;
}

img {
}

.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #25536f;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}

